# Виртуальное окружение
.venv/
venv/
env/
__pycache__/
*.pyc

# PyCharm / IDE
.idea/
*.iml
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.csv
*.parquet
*.sqlite
*.db

# Poetry
poetry.toml
build/
dist/
*.egg-info/